/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  width: 100%;
  height: 100%;
}

#orbitplot {
  width: 100%;
  height: 100%;
  display: block;
}

#timecontrols {
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 25px;
}

.mat-slider-min-value .mat-slider-thumb {
  background-color: #AAAAAA !important;
  border-color: #AAAAAA !important;
}
