<app-progress
  [hidden]="!working"></app-progress>

<app-time
  [scene]="scene"
  [elapsedTime]="elapsedTime"
  [working]="working"
  [planets]="planets"
  (playEvent)="handlePlayEvent()"
  (sliderChangeEvent)="handleSliderEvent($event)"
  (seekEvent)="handleSeekEvent($event)"
  (lambertEvent)="handleTransferEvent($event)"
  (planetsChange)="handlePlanetsChangeEvent($event)"></app-time>

<app-display
  (orbitsEvent)="handleOrbitsEvent($event)"
  (planetLocatorsEvent)="handlePlanetLocatorsEvent($event)"
  (transfersEvent)="handleTransfersEvent($event)"></app-display>

<canvas id="orbitplot"></canvas>
