<app-time
  [scene]="scene"
  [elapsedTime]="elapsedTime"
  [working]="working"
  (playEvent)="handlePlayEvent()"
  (sliderChangeEvent)="handleSliderChange($event)"
  (seekEvent)="handleSeekEvent($event)"
  (lambertEvent)="handleLambertEvent($event)"></app-time>

<app-display
  (orbitsEvent)="handleOrbitsEvent($event)"
  (planetLocatorsEvent)="handlePlanetLocatorsEvent($event)"></app-display>

<app-progress [hidden]="!working">
  [working]="working"
</app-progress>

<canvas id="orbitplot"></canvas>
